/* general */
body {
    background-color: #f8f8f8;
}

.container {
    margin: 0 auto;
}

.header {
    height: 150px;
    background-image: url(img/%D1%84%D0%BE%D0%BD%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0.jpg);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 15px;
    border: 15px solid #800080;
    position: relative;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url(img/Lion.jpg);
    background-size: 160px 160px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
    position: absolute;
    top: -15px;
    left: -15px;
    border: 15px solid #800080;
}

.menu {
    text-align: right;
}

.menu li {
    list-style-type: none;
    width: 250px;
    height: 40px;
    border: 3px solid #00BFFF;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #800080;
}

.menu li a:hover {
    color: red;
}

.menu li a:hover:after {
    content: " >>";
    color: red;
}

.menu li a:active {
    color: aqua;
}

.menu li a:active:after {
    content: " >>";
    color: aqua;
}

.menu li a {
    color: #FFD700;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    font-family: Segoe Script;
    text-decoration: none;
}



.text:first-letter {
    font-size: 30px;
    color: red
}

.text {
    color: #484343;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/* main page */
.center-pic {
    text-align: center;
}

img[alt="photo"] {
    border: 80px solid;
    border-image: url(img/%D0%A0%D0%B0%D0%BC%D0%B0%20%D1%81%D1%82%D0%B8%D0%BB%D1%8C%204.jpg) 15% stretch;
}


/* commoncatalog */
img[alt="picture"] {
    border: 60px solid #f8f8f8;
    border-image: url(img/%D0%A0%D0%B0%D0%BC%D0%B0%20%D1%81%D1%82%D0%B8%D0%BB%D1%8C5.jpg) 14% round;

}

img[alt="picture"]:hover {
    border-image: none;

}

.short-description {
    color: #9932CC;
    font-size: 15px;
    font-style: oblique;
    font-family: ModBolda_Alterna;
    text-align: center;
}

.main-heading {
    color: #800000;
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    font-family: Misto;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: #FFE4E1;
    font-family: Segoe Script;
}

.name-picture {
    color: #707070;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    line-height: 16px;
    text-align: center;
}

.name-picture:first-letter {
    font-size: 45px;
    color: #00BFFF;
    font-family: Macarena;
}

.name-picture:after {
    content: " new";
    color: red;
   font-size: 25px;
}

.name-author {
    color: #707070;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    line-height: 16px;
    text-align: center;
}

.name-author:first-letter {
    font-size: 45px;
    color: #00BFFF;
    font-family: Macarena;
}

.accommodation {
    float: left;
    margin-left: 60px;
}

/* detail page */
.center-pic {
    float: left;
}

.alldescription {
    overflow: hidden;
}

.list li {
    list-style: none;
    list-style-image: url(img/brush-png-image-20.png);
    font-family: Segoe Script;

}

.specifications {
    border: 1px solid #000;
    width: 600px;
    height: 100px;
    border-collapse: collapse;
}

.specifications td {
    border: 1px solid black;
}

.div-buttom {
    margin-left: 150px;
}

[type="button"] {
    width: 150px;
    height: 30px;
    border: 3px solid #800080;
    background-color: aqua;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

[type="button"]:hover {
    color: red;
}

.[type="button"]:active {
    color: green;
}

.dop-description {
    clear: both;
}
/* big detail page */

/* contact */
.contact-general {
    width: 500px;
    border: 3px solid #000;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: aqua;
}
.insertion {
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    line-height: 15px;
    text-transform: capitalize;
}

input:focus {
    font-size: 15px;
    color: red;
    background-color:beige;
}

[type="submit"]:hover {
    color: red;
}

[type="submit"]:active {
    color: green;
}

[type="reset"]:hover {
    color: red;
}

[type="reset"]:active {
    color: green;
}

[type="text"] {
    width: 205px;
}

/* footer */
.footer {
    height: 50px;
    text-align: right;
    background-color: #483D8B;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 15px solid #800080;
    clear: both;
}

.footer p {
    padding-right: 30px;
}

/* Изучить как добавлять скаченный шрифт 
@font-face {
font-family: "Base02Cyrillic2"; 
src: url("fonts/Base02Cyrillic2.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} */
